name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run tests
        run: echo "Test CI completed."

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Get os information
        run: |
        echo "Current os is: ${{ runner.os }}"
        echo "Actor: ${{ github.actor }}"